
@{
    ViewBag.Title = "Henrik Obsen";
    Layout = "~/Views/_MainLayout.cshtml";
}

<h1>Hej</h1><div class="imgFrameMig"><img src="~/Content/GFX/Mig.jpg" alt="Henrik Obsen" title="Henrik Obsen" /><br />Henrik Obsen</div>
				Jeg er en ung mand på <asp:Literal ID="litAlder" runat="server"></asp:Literal> år, jeg bor i en lille by nær Grenaa. Den 16. december 2004 afsluttede jeg min læretid som Multimedia Integrator på, Grenaa Tekniske Skole. Jeg har før dette arbejdet fem år som håndværker men, for ca. ni år siden fik jeg lyst til at prøve noget nyt, så jeg kastede mig over IT faget. Efter et år med forskellige kurser endte jeg med at blive meget bidt af Multimediefaget, så efter dette startede jeg på Digital Media. Min læretid har jeg haft i Kursus og Projektafdelingen på Grenaa Tekniske Skole, hvor jeg har undervist og lavet løsninger til en lang række spændende projekter. Da min læretid sluttede, blev jeg ansat på skolen, hvor jeg er endnu. Midt under min uddannelse, opstartede jeg en lille IT virksomhed, som jeg stadig kører ved siden af mit nuværende job.




<h2>Kort om min uddannelse</h2>

<p>
    Digital Media er fællesnavnet for tre uddannelser, som retter sig mod den digitale verdens muligheder inden for lyd, video, web-design, grafik, 3D, programmering og tekst. Uddannelsen til Digital Integrator varer 2 år og 6 måneder. Den kan udbygges med yderligere 12 måneders uddannelse til Multimedie Animator eller Multimedie Integrator, som jeg afsluttede 16-12 2004.
</p>
<p>
    Uddannelsen til Multimedie Integrator består først af 40 ugers skole, og herefter vekslende mellem ca. 26 ugers praktik og 10 ugers skole, efter de første 2 år og 6 måneder er der en fagprøve, efter den er man uddannet Digital Integrator, tager man så et års overbygning ender man efter endnu en fagprøve, som Multimedie Integrator.
</p>
<p>
    Du kan læse mere om uddannelsen på Digital Medias hjemmeside: <a href="http://www.digit.dk" target="_blank">www.digit.dk</a>.
</p>
<p>Da jeg pt. er i arbejde, bliver min side her ikke opdateret så tit som jeg ønsker, dette vil siden selvfølgelig bære preg af.</p>